[Unit]
Description=Load encryption keys for ZFS pool or dataset %I
DefaultDependencies=no
After=zfs-import.target
Before=zfs-mount.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/zfs load-key -r %I

[Install]
WantedBy=zfs-mount.service
