[Match]
Name=en<...>

# For DHCP/SLAAC
[Network]
# IPv4 DHCP
DHCP=ipv4
# IPv6 SLAAC/DHCP (triggers DHCPv6 if required, regardless of the DHCP parameter)
IPv6AcceptRA=yes

# For static IP addresses
#[Network]
## No DHCPv4 or DHCPv6
#DHCP=no
## No SLAAC or DHCPv6
#IPv6AcceptRA=no
#Address=192.168.0.10/24
#Gateway=192.168.0.1
#DNS=192.168.0.1
#NTP=192.168.0.1
#Address=fd00::a/64
#Gateway=fd00::1
#DNS=fd00::1
#NTP=fd00::1

# (Optional) DHCP options
[DHCP]
UseDNS=yes
UseNTP=no
UseHostname=no
UseDomains=yes

# (Optional) IPv6 RA options
[IPV6ACCEPTRA]
UseDNS=yes
UseDomains=yes
